{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update/{{contact.0}}" method="POST">
          <div class="form-group">
            <p><i><b>Nombre</b></i></p>
            <input type="text" name="nombre" value="{{contact.1}}" class="form-control">
          </div>
          <div class="form-group">
              <p><i><b>Primer apellido</b></i></p>
            <input type="text" name="apellidoA" value="{{contact.2}}" class="form-control">
          </div>
          <div class="form-group">
              <p><i><b>Segundo apellido</b></i></p>
            <input type="text" name="apellidoB" value="{{contact.3}}" class="form-control">
          </div>
          <div class="form-group">
              <p><i><b>telefono</b></i></p>
            <input type="text" name="telefono" value="{{contact.4}}" class="form-control">
          </div>
          <div class="form-group">
              <p><i><b>direccion</b></i></p>
            <input type="text" name="direccion" value="{{contact.5}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
